<h1><style> h1 {margin-left: 80px;} </style> Index</h1>
<ul>
  <% @cats.each do |cat| %>
      <li>
        <%= render cat, action: :index %>
      </li>
    <% end %>
</ul>

<h2> create a cat </h2>
 <li>
    <a href = "<%= new_cat_url %>">create a cat</a>
</li>
  