<h2>CREATE CAT</h2>

  <form action= "<%=cats_url%>" method="post">
    <label for="name"> Name: </label>
    <input id="name" type="text" name="cat[name]" value=""/>
   

  <br>

    <label> Birth Day:
      <input type="date" name="cat[birth_date]"/>
    </label>

  <br>

  <label for="color">  Choose Color: </label>
    <select id="color" name="cat[color]"> 
      <option disabled selected>--Select Color--</option>
      <option value="black">Black</option>
      <option value="brown">Brown</option>
      <option value="white">White</option>
      <option value="orange">Orange</option>
    </select>


  <br>

    <label> Sex:
      <select name="cat[sex]">
        <option value="M">M</option>
        <option value="F">F</option>
      </select>
    </label>

    <label for="create_cat"> Create Cat: </label>
    <input id="create_cat" type="submit" value="Create Cat" >
    
  </form>


  <%# <input type="text" name="cat[color]" value=""/>
    </label> %>


    <%# <label> Description:
      <input type="text" name="cat[description]" value=""/>
    </label> %>
